.bg-black{
    background-color: black;
    color: white;
}

.display-6 {
    font-size: calc(0.8rem + 1.5vw);
}

.text-gold{
    color: goldenrod;
}

.bg-gold{
    background-color: goldenrod;
    color: 000;
}

.active{
    font-size: 900;
    background-color: goldenrod;
    color: 000;
}
.list-group-item.active{
    font-size: 900;
    background-color: goldenrod;
    color: 000;
    border-color: goldenrod;
}

.btn-outline-gold {
    --bs-btn-color: goldenrod;
    --bs-btn-border-color: goldenrod;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: goldenrod;
    --bs-btn-hover-border-color: goldenrod;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: goldenrod;
    --bs-btn-active-border-color: goldenrod;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: goldenrod;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: goldenrod;
    --bs-gradient: none;
}